@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Variables */
:root {
  /* neutral */
  --DarkText: hsl(199, 35%, 19%);
  --Text: hsl(198, 23%, 72%);
  --faintText: hsl(198, 15%, 45%);

  /* Background */
  --RadialGradient: hsl(235, 68%, 10%);
  --CardBackground: hsl(235, 46%, 15%);
  --box-shadow-color: 0px 7px 0px hsl(198, 15%, 45%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  border: 1px solid var(--RadialGradient);
  color: var(--Text);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--RadialGradient);
  font-family: 'Outfit', sans-serif;
}
.Headingtext {
  color: var(--Text);
}
.collection {
  border: 1px solid var(--CardBackground);
  margin-top: -2rem;
  background-color: var(--CardBackground);
  border-radius: 8px;
  /* box-shadow: var(--box-shadow-color); */
}
.collection img {
  width: 100%;
  padding: 10px;
}
@media (min-width: 768px) {
  .art-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .collection {
    cursor: pointer;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }
  .collection:hover {
    transform: scale(1.05);
  }
}
