/* Variables */
:root {
  /* neutral */
  --DarkText: hsl(199, 35%, 19%);
  --Text: hsl(198, 23%, 72%);
  --faintText: hsl(198, 15%, 45%);

  /* Background */
  --RadialGradient: hsl(235, 68%, 10%);
  --CardBackground: hsl(235, 46%, 15%);
  --box-shadow-color: 0px 7px 0px hsl(198, 15%, 45%);
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 500px;
  background-color: var(--CardBackground);
}
.modal-content img {
  width: 80%;
  margin: 0 auto;
}
.nftbutton {
  border: 1px solid var(--RadialGradient);
  background-color: var(--RadialGradient);
  border-radius: 8px;
  color: var(--Text);
  width: 50%;
  margin: 0 auto;
}
